body {
  // background-color: $black;
  color: $white;
  font: 24px/1.2 arial;
}

* {

  &:focus{
    outline: none !important;
  }
}

a {
  color: $white;

  &:hover {
    color: $pink;
    text-decoration: none;
  }
}

h1 {
  font: 700 60px/1 oswald, arial;
}

h2 {
  font: 600 40px/1.2 oswald, arial;
}

h3 {
  font: 600 24px/1.2 oswald, arial;
}

.button-white {
  @include button($white);
}

.button-blue {
  @include button($blue);
}

.button-none {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

/* Home page ******************************************************************/
#intro {
  width: 100%;
  height: 100vh;
  background: url('../../images/home/oxf_bg_intro.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  @include transform-style(preserve-3d);
  opacity: 1;
  @include transition(all 0.5s linear);
  position: absolute;
  z-index: 1;

  &.fade-out {
    opacity: 0;
    @include transform(translateY(-100%));
  }

  .container {
    position: relative;
    height: 100%;

    .logo {
      width: 100%;
      height: 120px;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: auto;
      text-align: center;
      @include transform(translateY(-50%));
      opacity: 0;
      @include transition(all 0.5s ease-in-out);

      &.fade-in {
        opacity: 1;
      }

      .content {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
      }

      .brain {
        position: absolute;
        right: 110px;
        top: -230%;
        width: auto;
        pointer-events: none;
        @include transform(translateZ(0));
        @include transform-style(preserve-3d);
      }
    }

    .scroll-down {
      width: 92px;
      height: 60px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;

      p {
        font-size: 12px;
        margin-bottom: 15px;
        line-height: 0.8;
      }
    }
  }

}

#banner {
  width: 100%;
  height: 100%;
  // height: 100vh;
  position: relative;
  background-color: #090909;
  overflow: hidden;

  .obj {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

    &.city {
      background-image: url('../../images/home/oxf_bg_banner_city.jpg');
      @include transition(all 1s ease-out 0.4s);
      @include transform(translateY(100%));
      opacity: 0;

      &.fade-in {
        opacity: 1;
        @include transform(translateY(0));
      }
    }

    &.cloud {
      background-image: url('../../images/home/oxf_bg_banner_cloud.png');
      background-repeat: repeat-x;
      @include transition(all 1s ease-out);
      @include transform(translateY(100%));
      opacity: 0;

      &.fade-in {
        opacity: 1;
        @include transform(translateY(0));
        @include animation(animateCloud, 20s, linear, 0.1s, infinite, alternate);
      }
    }
    /*img {
      width: 100%;
    }*/
  }

  .container {
    position: relative;
    height: 100%;

    .content {
      min-height: 880px;
      text-align: center;
      padding: 26% 0 14%;
      @include transition(all 0.5s ease 0.3s);
      opacity: 0;
      @include transform(translateY(200%));

      &.fade-in {
        @include transform(translateY(0));
        opacity: 1;
      }

      .box {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        @include transition(transform 1s);
        @include transform-style(preserve-3d);

        .box-content {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;

          &._first {
          }

          &._second {
            transform: rotateY( 180deg );
          }

          p {
            font: 500 45px/1.2 oswald, arial;
            text-transform: uppercase;
            text-shadow: 0 4px 18px rgba(0, 0, 0, 1);
            color: $gray-medium;

            span {
              font: 700 90px/1.2 oswald, arial;
            }
          }
        }

        &:hover {
          transform: rotateY(180deg);
        }
      }


    }
  }
}

#whatwedo {
  // background-color: $white;

  .row {
    margin: 0 0 15%;
  }

  .figcaption {
    position: relative;

    .content {

      h1 {
        color: $black;
        margin-bottom: 60px;
        @include transition(all 0.8s ease-out 0.5s);
        opacity: 0;
        @include transform(translateY(200%));
      }

      p {
        color: $black;
        margin-bottom: 55px;
        @include transition(all 0.8s ease-out 0.7s);
        opacity: 0;
        @include transform(translateY(200%));
      }

      .button-blue {
        @include transition(all 0.8s ease-out 0.9s);
        opacity: 0;
        @include transform(translateY(200%));
      }

      &.fade-in {
        h1 {
          opacity: 1;
          @include transform(translateY(0));
        }

        p {
          opacity: 1;
          @include transform(translateY(0));
        }

        .button-blue {
          opacity: 1;
          @include transform(translateY(0));
        }

        opacity: 1;
        @include transform(translateY(0));
      }
    }
  }

  .figure {
    position: relative;
    z-index: -1;

    img {
      position: absolute;
      right: 0;
      top: 25%;
      width: 130%;
      @include transition(all 0.8s ease-out);
      opacity: 0;
      @include transform(translateY(200%));

      &.fade-in {
        opacity: 1;
        @include transform(translateY(0));
      }
    }
  }
}

#practics {
  width: 100%;
  height: 100%;
  background-color: $white;
  position: relative;

  .obj {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

    &.city {
      background-image: url('../../images/home/oxf_bg_practice.jpg');
      @include transition(all 1s ease-out);
      @include transform(translateY(20%));
      opacity: 0;

      &.fade-in {
        opacity: 1;
        @include transform(translateY(0));
      }
    }

    &.cloud {
      background-image: url('../../images/home/oxf_bg_practice_cloud.png');
      @include animation(animateCloud, 20s, linear, 0.1s, infinite, alternate);
    }
    /*img {
      width: 100%;
    }*/
  }

  .container {
    position: relative;
    height: 100%;
    padding: 350px 0 40px;

    .content {
      width: 80%;
      margin-left: 20%;

      h1 {
        color: $black;
        margin-bottom: 60px;
        @include transition(all 1s ease-out);
        opacity: 0;
        @include transform(translateY(100%));
      }

      p {
        color: $black;
        margin-bottom: 55px;
        @include transition(all 1s ease-out 0.2s);
        opacity: 0;
        @include transform(translateY(100%));
      }

      &.fade-in {

        h1 {
          color: $black;
          margin-bottom: 60px;
          @include transform(translateY(0));
          opacity: 1;
        }

        p {
          color: $black;
          margin-bottom: 55px;
          @include transform(translateY(0));
          opacity: 1;
        }

      }
    }
  }
}

#hospitality {
  background-color: $white;

  .figcaption {
    text-align: right;

    h1 {
      color: $blue;
      margin-bottom: 30px;
      text-transform: uppercase;
      @include transition(all 0.5s ease-out 0.3s);
      opacity: 0;
      @include transform(translateY(20%));

      &.number {
        font-size: 100px;
        margin-bottom: 20px;
        color: $pink;
      }
    }

    p {
      color: $black;
      margin-bottom: 55px;
      @include transition(all 0.5s ease-out 0.6s);
      opacity: 0;
      @include transform(translateY(20%));
    }

    .button-blue {
      @include transition(all 0.5s ease-out 0.9s);
      opacity: 0;
      @include transform(translateY(20%));
    }

    &.fade-in {
      h1 {
        opacity: 1;
        @include transform(translateY(0));
      }

      p {
        opacity: 1;
        @include transform(translateY(0));
      }

      .button-blue {
        opacity: 1;
        @include transform(translateY(0));
      }
    }
  }



  .figure {
    position: relative;
    // z-index: -1;

    img {
      position: absolute;
      left: 3.8%;
      top: 0;
      width: 130%;

      @include transition(all 1s ease-out);
      opacity: 0;
      @include transform(translateY(20%));

      &.fade-in {
        opacity: 1;
        @include transform(translateY(0));
      }
    }
  }

  .carousel {

    .carousel-inner {

      .carousel-item {
        height: 100%;
        min-height: 500px;
      }
    }

    .carousel-indicators {
      display: block;
      margin-bottom: 85px;
      margin-left: auto;
      margin-right: 0;
      z-index: 0;
      position: static;
      @include transition(all 0.5s ease-out 0.2s);
      opacity: 0;
      @include transform(translateY(20%));

      li {
        text-indent: 0;
        color: $black;
        width: auto;
        height: auto;
        font: 400 20px/1 oswald, arial;
        display: block;
        text-transform: uppercase;
        background-color: transparent;
        opacity: 1;

        &.active {
          color: $pink;
        }
      }

      &.fade-in {
        opacity: 1;
        @include transform(translateY(0));
      }
    }

    .carousel-control-next, .carousel-control-prev {
      display: none;
    }
  }


}

#locations {
  background: url('../../images/home/oxf_bg_converage.jpg') no-repeat;
  background-position: center 200px;
  background-size: cover;
  opacity: 0;
  @include transition(all 0.8s ease-out);

  &.fade-in {
    opacity: 1;
    background-position: center 0;
  }

  .content {
    padding: 120px 0;

    h1 {
      margin-bottom: 70px;
      float: right;
      @include transition(all 0.5s ease-out);
      opacity: 0;
      @include transform(translateY(20%));
    }

    h2, button {
      margin-bottom: 20px;
    }

    button {
      font: 600 24px/1 oswald, arial;
      color: $white;

      &:hover, &.active {
        color: $pink;
      }
    }

    hr {
      background-color: $white;
      height: 2px;
      width: 24px;
      margin: 0 0 20px auto;
    }

    .asia, .africa, .europe, .latin {
      opacity: 0;
      @include transform(translateY(20%));
    }

    .asia {
      @include transition(all 0.5s ease-out 0.2s);
    }

    .africa {
      @include transition(all 0.5s ease-out 0.4s);
    }

    .europe {
      @include transition(all 0.5s ease-out 0.6s);
    }

    .latin {
      @include transition(all 0.5s ease-out 0.8s);
    }

    &.fade-in {
      h1 {
        opacity: 1;
        @include transform(translateY(0));
      }
      .asia, .africa, .europe, .latin {
        opacity: 1;
        @include transform(translateY(0));
      }
    }
  }
}

#blog {

  .content {
    padding: 100px 0;
  }

  h1 {
    color: $black;
    margin-bottom: 85px;
    opacity: 0;
    @include transform(translateY(20%));
    @include transition(all 0.5s ease-out);
  }

  .row {

    &:last-child {
      margin-top: 100px;

      button, a {
        margin: 0 auto;
      }
    }
  }

  .figure {
    box-shadow: 0px 4px 14px rgba(0,0,0,0.3);

    &._1, &._2, &._3 {
      opacity: 0;
      @include transform(translateY(20%));
    }

    &._1 {
      @include transition(all 0.8s ease-out 0.2s);
    }

    &._2 {
      @include transition(all 0.8s ease-out 0.4s);
    }

    &._3 {
      @include transition(all 0.8s ease-out 0.6s);
    }

    img {
      width: 100%;
    }

    .figcaption {
      padding: 35px;
      overflow: hidden;

      h3 {
        color: $black;
        margin-bottom: 30px;
      }

      p {
        color: $black;
        font: 18px/1.2 arial;

        &.date {
          color: $gray;
        }
      }

      a {
        color: $black;
        font: 600 18px/1 oswald, arial;
      }
    }

    &:hover {
      .figcaption {
        background-color: $gray-soft;
      }
    }
  }

  .button-blue {
    opacity: 0;
    @include transform(translateY(20%));
    @include transition(all 0.8s ease-out 1.2s);
  }

  &.fade-in {

    h1 {
      opacity: 1;
      @include transform(translateY(0));
    }

    .figure {

      &._1, &._2, &._3 {
        opacity: 1;
        @include transform(translateY(0));
      }
    }

    .button-blue {
      opacity: 1;
      @include transform(translateY(0));
    }
  }
}

#getintouch {
  background-color: $black;
  opacity: 0;
  @include transition(all 0.8s ease-out);

  .content {
    padding: 100px 0;

    h2 {
      font: 600 60px/1.2 oswald, arial;;
      margin-bottom: 30px;
      opacity: 0;
      @include transform(translateY(50%));
      @include transition(all 0.8s ease-out 0.2s);
    }

    p {
      font: 400 24px/1.2 oswald, arial;
      margin-bottom: 50px;
      opacity: 0;
      @include transform(translateY(50%));
      @include transition(all 0.8s ease-out 0.4s);
    }

    .button-white {
      opacity: 0;
      @include transform(translateY(20%));
      @include transition(all 0.8s ease-out 0.6s);
    }
  }

  &.fade-in {
    opacity: 1;

    h2, p, .button-white {
      opacity: 1;
      @include transform(translateY(0));
    }
  }
}

#footer {
  background-color: $blue;
  .row {

    &._first {
      padding: 70px 0 0;

      .logo {

        img {
          width: 100%;
          max-width: 340px;
        }
      }

      .nav {

        li {

          a {
            font-size: 14px;
            font-weight: bold;
          }

          &:last-child {

            a {
              padding-right: 0;
            }
          }
        }
      }
    }

    &._second {
      padding: 60px 0;

      p {
        font-size: 16px;
      }

      .nav {

        a {
          margin: 0 10px;
        }
      }
    }
  }

  hr {
    width: 100%;
    background-color:  $blue-soft;
    margin: 70px 0 0;
  }
}

/* Team page ******************************************************************/
#team-page {
  .banner {
    width: 100%;
    height: 890px;
    background: url('../../images/team/oxf_team_banner.jpg') no-repeat;
    background-size: cover;
    background-position: center center;

    .container {
      position: relative;
      width: 100%;
      height: 100%;

      h1 {
        font: 700 140px/1.2 oswald, arial;
        color: rgba(255,255,255,0.1);
        position: absolute;
        bottom: 110px;
        right: 0;
        margin: auto;
        opacity: 0;
        @include transform(translateY(50%));
        @include transition(all 0.8s ease-out);
      }
    }

    &.fade-in {

      h1 {
        opacity: 1;
        @include transform(translateY(0));
      }
    }

  }

  .content {
    padding: 100px 0;

    &.fade-in {

      .breadcrumb, h1 {
        opacity: 1;
        @include transform(translateY(0));
      }
    }
  }

  .breadcrumb {
    opacity: 0;
    @include transform(translateY(50%));
    @include transition(all 0.8s ease-out);
  }

  h1 {
    color: $blue;
    margin-bottom: 85px;
    opacity: 0;
    @include transform(translateY(50%));
    @include transition(all 0.8s ease-out 0.2s);
  }

  .row {
    margin-bottom: 40px;
  }

  .figure {
    display: block;

    img {
      width: 100%;
    }

    .figcaption {
      padding: 30px 15px;
      overflow: hidden;

      .fullname {
        color: $blue;
        font: 600 22px/1.2 oswald, arial;
        margin-bottom: 10px;
      }

      .position {
        color: $black;
        font: 400 18px/1.2 oswald, arial;
        margin-bottom: 30px;

        &.date {
          color: $gray;
          margin-bottom: 0;
        }
      }

      a {
        color: $black;
        font: 600 18px/1 oswald, arial;
      }
    }

    &:hover {
      box-shadow: 0px 10px 20px rgba(0,0,0,0.3);

      .figcaption {
        background-color: $gray-soft;
      }
    }

    &.column {
      opacity: 0;
      @include transform(translateY(20%));

      &.col_1 {
        @include transition(all 0.8s ease-out 0.2s);
      }
      &.col_2 {
        @include transition(all 0.8s ease-out 0.4s);
      }
      &.col_3 {
        @include transition(all 0.8s ease-out 0.6s);
      }
      &.col_4 {
        @include transition(all 0.8s ease-out 0.8s);
      }
    }
    &.fade-in {

      &.column {

        &.col_1, &.col_2, &.col_3, &.col_4 {
          @include transform(translateY(0));
            opacity: 1;
        }
      }
    }
  }
}

/* Team detail page ***********************************************************/
#teamdetail-page {
  background-color: $black;

  .breadcrumb {
    opacity: 0;
    @include transform(translateY(50%));
    @include transition(all 0.8s ease-out);

    .breadcrumb-item {
      color: #666;

      &.active {
        color: $white;
      }
    }
  }

  .banner {
    width: 100%;
    background: url('../../images/teamdetail/oxf_bg_teamdetail1.jpg') no-repeat;
    background-size: cover;
    background-position: center bottom;

    img {
      width: 50%;
      display: inline-block;
      margin-top: 4%;
      opacity: 0;
      // @include transform(translateY(50%));
      @include transition(all 0.8s ease-out);
    }

    .wording {
      font: 40px/1.2 Parisienne, oswald, arial;
      color: $pink;
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 140px;
      text-align: center;
      width: 48%;
      opacity: 0;
      @include transform(translateY(50%));
      @include transition(all 0.8s ease-out 0.2s);
    }

    &.fade-in {

      img, .wording {
        opacity: 1;
        @include transform(translateY(0));
      }
    }
  }

  .detail {
    width: 100%;
    background: url('../../images/teamdetail/oxf_bg_teamdetail2.jpg') no-repeat;
    background-size: cover;
    background-position: center top;

    &.fade-in {

      .breadcrumb, .fullname, .position {
        opacity: 1;
        @include transform(translateY(0));
      }
    }

    .fullname {
      font-size: 50px;
      margin-bottom: 20px;
      opacity: 0;
      @include transform(translateY(50%));
      @include transition(all 0.8s ease-out);
    }

    .position {
      font: 400 30px/1.2 oswald, arial;
      color: $gray-medium;
      margin-bottom: 90px;
      opacity: 0;
      @include transform(translateY(50%));
      @include transition(all 0.8s ease-out);
    }

    p {
      line-height: 1.2;
      color: $gray;
      margin-bottom: 40px;

      &.paragraph {
        opacity: 0;
        @include transform(translateY(50%));

        &._1 {
          @include transition(all 0.8s ease-out);
        }

        &._2 {
          @include transition(all 0.8s ease-out 0.2s);
        }

        &._3 {
          @include transition(all 0.8s ease-out 0.4s);
        }

        &._4 {
          @include transition(all 0.8s ease-out 0.6s);
        }

        &._5 {
          @include transition(all 0.8s ease-out 0.8s);
        }

        &._6 {
          @include transition(all 0.8s ease-out 1s);
        }

        &._7 {
          @include transition(all 0.8s ease-out 1.2s);
        }

        &.fade-in {
          opacity: 1;
          @include transform(translateY(0));
        }

      }
    }

    .row {

      a {
        margin: 90px auto 100px;
      }
    }
  }
}

/* Blog page ******************************************************************/
#blogs-page {
  margin-top: 140px;

  &.fade-in {

    .breadcrumb, h1 {
      opacity: 1;
      @include transform(translateY(0));
    }
  }

  .content {
    padding: 100px 0;
  }

  h1 {
    color: $blue;
    margin-bottom: 85px;
  }

  .breadcrumb, h1 {
    opacity: 0;
    @include transform(translateY(20%));
    @include transition(all 0.8s ease-out);
  }

  .row {
    margin-bottom: 40px;

    &:last-child {
      margin-top: 100px;

      button, a {
        margin: 0 auto;
      }
    }

    nav {
      position: static;
      width: 100%;

      .page-item {

        .page-link {
          font: 600 20px/1.2 oswald, arial;
          border: none;
          color: $gray;

          &.arrow {
            font: 400 30px/0.5 oswald, arial;
          }
        }

        &.active, &:hover {

          .page-link {
            color: $black;
            text-decoration: underline;
            background-color: transparent;
          }
        }

        &.disabled {

          &:hover {

            .page-link {
              text-decoration: none;
            }
          }

          .page-link {
            color: $gray-medium;
          }
        }
      }
    }
  }

  .figure {
    box-shadow: 0px 4px 14px rgba(0,0,0,0.3);

    img {
      width: 100%;
    }

    .figcaption {
      padding: 35px;
      overflow: hidden;

      h3 {
        color: $black;
        margin-bottom: 30px;
      }

      p {
        color: $black;
        font: 18px/1.2 arial;
        margin-bottom: 30px;

        &.date {
          color: $gray;
          margin-bottom: 0;
        }
      }

      a {
        color: $black;
        font: 600 18px/1 oswald, arial;

        &:hover {
          color: $pink;
        }
      }
    }

    &.column {
      opacity: 0;
      @include transform(translateY(20%));

      &.col_1 {
        @include transition(all 0.8s ease-out 0.2s);
      }
      &.col_2 {
        @include transition(all 0.8s ease-out 0.4s);
      }
      &.col_3 {
        @include transition(all 0.8s ease-out 0.6s);
      }
    }

    &:hover {
      .figcaption {
        background-color: $gray-soft;
      }
    }

    &.fade-in {

      &.column {

        &.col_1, &.col_2, &.col_3 {
          @include transform(translateY(0));
            opacity: 1;
        }
      }
    }
  }
}

/* Blog Detail page ***********************************************************/
#blogsdetail-page {
  margin-top: 140px;

  &.fade-in {

    .content {
      .breadcrumb {
        opacity: 1;
        @include transform(translateY(0));
      }

      .header {

        h2, .date {
          opacity: 1;
          @include transform(translateY(0));
        }
      }
    }
  }

  .content {
    padding: 100px 0;

    .breadcrumb {
      opacity: 0;
      @include transform(translateY(50%));
      @include transition(all 0.8s ease-out);
    }

    .header {

      h2 {
        color: $black;
        margin: 80px 0 25px;
        opacity: 0;
        @include transform(translateY(50%));
        @include transition(all 0.8s ease-out);
      }

      .date {
        font: 22px/1.2 arial;
        color: $gray;
        margin-bottom: 35px;
        opacity: 0;
        @include transform(translateY(50%));
        @include transition(all 0.8s ease-out 0.2s);
      }
    }

    .detail {

      &.fade-in {

        .head-img {
          opacity: 1;
          @include transform(translateY(0));
        }
      }

      .head-img {
        margin-bottom: 80px;
        width: 100%;
        opacity: 0;
        @include transform(translateY(20%));
        @include transition(all 0.8s ease-out 0.4s);
      }

      .text-detail {
        color: $black;
        padding: 0 14%;
        margin-bottom: 135px;

        img {
          width: 100%;
          margin-bottom: 60px;
        }
      }
    }
  }

  .related {

    h2 {
      color: $black;
      margin: 60px 0 65px;
      opacity: 0;
      @include transform(translateY(50%));
      @include transition(all 0.8s ease-out);
    }

    .row {
      margin-bottom: 40px;

      nav {
        position: static;
        width: 100%;

        .page-item {

          .page-link {
            font: 600 20px/1.2 oswald, arial;
            border: none;
            color: $gray;

            &.arrow {
              font: 400 30px/0.5 oswald, arial;
            }
          }

          &.active, &:hover {

            .page-link {
              color: $black;
              text-decoration: underline;
              background-color: transparent;
            }
          }

          &.disabled {

            &:hover {

              .page-link {
                text-decoration: none;
              }
            }

            .page-link {
              color: $gray-medium;
            }
          }
        }
      }
    }

    .figure {
      box-shadow: 0px 4px 14px rgba(0,0,0,0.3);

      img {
        width: 100%;
      }

      .figcaption {
        padding: 35px;
        overflow: hidden;

        h3 {
          color: $black;
          margin-bottom: 30px;
        }

        p {
          color: $black;
          font: 18px/1.2 arial;
          margin-bottom: 30px;

          &.date {
            color: $gray;
            margin-bottom: 0;
          }
        }

        a {
          color: $black;
          font: 600 18px/1 oswald, arial;

          &:hover {
            color: $pink;
          }
        }
      }

      &:hover {
        .figcaption {
          background-color: $gray-soft;
        }
      }

      &.column {
        opacity: 0;
        @include transform(translateY(50%));

        &.col_1 {
          @include transition(all 0.8s ease-out);
        }

        &.col_2 {
          @include transition(all 0.8s ease-out 0.2s);
        }

        &.col_3 {
          @include transition(all 0.8s ease-out 0.4s);
        }

      }
    }

    &.fade-in {

      h2 {
        opacity: 1;
        @include transform(translateY(0));
      }

      .figure {

        &.column {

          &.col_1, &.col_2, &.col_3 {
            opacity: 1;
            @include transform(translateY(0));
          }
        }
      }
    }
  }
}

/* Keyframes ******************************************************************/
@keyframes animateCloud {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

/* Breadcrumb *****************************************************************/
$breadcrumb-divider: quote(">");
.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  margin-bottom: 80px;

  .breadcrumb-item {
    font: 400 24px/1.2 oswald, arial;

    a {
      color: $gray;
      font: 400 24px/1 oswald, arial;
    }

    &.active {
      color: $blue;
    }

    &:before {
      content: $breadcrumb-divider;
    }

    &:first-child {

      &:before {
        content: '';
      }
    }
  }
}

/* Modal **********************************************************************/
.modal-backdrop {
    display:none
}
.modal-backdrop.in {
    opacity: 0;
}

.modal-open {
  overflow: auto;
  padding-right: 0 !important;
}

.modal {
    position: absolute;
    @include transform(scale(0));
    @include transition(all 0.5s ease);

    &.show {
      @include transform(scale(1));
      padding: 0 !important;
    }

    .modal-dialog {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      max-height: 50%;
      max-width: 600px;

      .modal-content {
        padding-top: 0;
        background-color: rgba(33,49,65,0.8);
        border-radius: 0;
        box-shadow: 0 0 14px rgba(255,255,255,0.5);
        border: 1px solid $white;

        .modal-header {
          border: none;
          padding-bottom: 0;
        }

        .modal-body {
          padding: 0 75px 75px;

          h2 {
            margin-bottom: 50px;
          }

          p {
            margin: 0;
          }
        }
      }
    }
}

/* Responsive *****************************************************************/
@media (min-width: 768px) {
  nav {

    &.navbar {

      .navbar-collapse {

        .navbar-brand {
          margin-left: 15px;
        }
      }
    }
  }

  #footer {

    .nav-link {
      padding: .5rem .3rem;
    }
  }

  #intro {

    .container {

      .logo {

        .brain {
          right: 46px;
          top: -126%;
          width: 28%;
        }
      }
    }
  }

  #banner {
    height: 100vh;

    .container {

      .content {
        margin-top: 30%;

        .box {

          .box-content {

            p {
              font-size: 22px;

              span {
                font-size: 60px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  nav {

    &.navbar {

      .navbar-collapse {

        .navbar-brand {
          margin-left: 0;
        }
      }

      .navbar-nav {

        li {

          .nav-link {
            margin-left: 2px;
            margin-right: 2px;

            &:after {
              right: -3px;
            }

            &.dropdown-toggle {
              margin-right: 2px;
            }
          }
        }
      }
    }


  }

  #intro {

    .container {

      .logo {

        .brain {
          right: 60px;
          top: -160%;
          width: 28%;
        }
      }
    }
  }

  #banner {
    height: 100%;

    .container {

      .content {
        margin-top: 26%;

        .box {

          .box-content {

            p {
              font-size: 40px;

              span {
                font-size: 80px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  nav {

    &.navbar {

      .navbar-nav {

        li {

          .nav-link {
            margin-left: 3px;
            margin-right: 3px;

            &:after {
              right: -3px;
            }

            &.dropdown-toggle {
              margin-right: 3px;
            }
          }
        }
      }
    }
  }

  #footer {

    .nav-link {
      padding: .5rem .8rem;
    }
  }

  #intro {

    .container {

      .logo {

        .brain {
          right: 74px;
          top: -200%;
          width: 28%;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  nav {

    &.navbar {

      .navbar-nav {

        li {

          .nav-link {
            margin-left: 15px;
            margin-right: 15px;

            &:after {
              right: -15px;
            }

            &.dropdown-toggle {
              margin-right: 15px;
            }
          }
        }
      }
    }
  }

  .container {
    max-width: 1400px;
  }

  #intro {

    .container {
        // max-width: 1400px;

        .logo {

          .brain {
            right: 110px;
            top: -220%;
            width: auto;
          }
        }
      }
  }
}
