body {
  // background-color: $black;
  color: $white;
  font: 24px/1 arial;
}

* {

  &:focus{
    outline: none !important;
  }
}

a {
  color: $white;

  &:hover {
    color: $pink;
    text-decoration: none;
  }
}

h1 {
  font: 700 60px/1 oswald, arial;
}

h2 {
  font: 600 40px/1 oswald, arial;
}

h3 {
  font: 600 24px/1 oswald, arial;
}

.button-white {
  @include button($white);
}

.button-blue {
  @include button($blue);
}

.button-none {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

/* Home page ******************************************************************/
#intro {
  width: 100%;
  height: 100vh;
  background: url('../../images/home/oxf_bg_intro.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  @include transform-style(preserve-3d);

  .container {
    position: relative;
    height: 100%;

    .logo {
      width: 100%;
      height: 120px;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: auto;
      text-align: center;
      @include transform(translateY(-50%));

      .content {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
      }

      .brain {
        position: absolute;
        right: 110px;
        top: -230%;
        width: auto;
        pointer-events: none;
        @include transform(translateZ(0));
        @include transform-style(preserve-3d);
      }
    }

    .scroll-down {
      width: 92px;
      height: 60px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;

      p {
        font-size: 12px;
        margin-bottom: 15px;
        line-height: 0.8;
      }
    }
  }

}

#banner {
  width: 100%;
  height: 100%;
  position: relative;

  .obj {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

    &.city {
      background-image: url('../../images/home/oxf_bg_banner_city.jpg');
    }

    &.cloud {
      background-image: url('../../images/home/oxf_bg_banner_cloud.png');
    }
    /*img {
      width: 100%;
    }*/
  }

  .container {
    position: relative;
    height: 100%;

    .content {
      text-align: center;
      padding: 10% 0;

      p {
        font: 500 45px/1.2 oswald, arial;
        text-transform: uppercase;
        text-shadow: 0 4px 18px rgba(0, 0, 0, 1);
        color: $gray-medium;

        span {
          font: 700 90px/1.2 oswald, arial;
        }
      }

      &._second {
        display: none;
      }
    }
  }
}

#whatwedo {

  .row {
    margin: 100px 0 168px;
  }

  h1 {
    color: $black;
    margin-bottom: 60px;
  }

  p {
    color: $black;
    margin-bottom: 55px;
  }

  .figure {
    position: relative;
    z-index: -1;

    img {
      position: absolute;
      right: 0;
      top: 25%;
      width: 150%;
    }
  }
}

#practics {
    width: 100%;
    height: 100%;
    background-color: $white;
    position: relative;

    .obj {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center 90%;
      background-repeat: no-repeat;
      background-size: cover;

      &.city {
        background-image: url('../../images/home/oxf_bg_practice_city.jpg');
      }

      &.cloud {
        background-image: url('../../images/home/oxf_bg_practice_cloud.png');
      }
      /*img {
        width: 100%;
      }*/
    }

    .container {
      position: relative;
      height: 100%;
      padding: 350px 0 0;

      h1 {
        color: $black;
        margin-bottom: 60px;
      }

      p {
        color: $black;
        margin-bottom: 55px;
      }
    }
}

#hospitality {

  .row {

  }

  h1 {
    color: $blue;
    margin-bottom: 30px;
    text-transform: uppercase;

    &.number {
      font-size: 100px;
      margin-bottom: 20px;
      color: $pink;
    }
  }

  p {
    color: $black;
    margin-bottom: 55px;
  }

  .figure {
    position: relative;
    z-index: -1;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 150%;
    }
  }

  .tab-nav {
    display: block;
    margin-top: 90px;
    margin-bottom: 85px;

    a {
      color: $black;
      font: 400 20px/1 oswald, arial;
      display: inline-block;
      margin-bottom: 20px;
      text-transform: uppercase;

      &.active, &:hover {
        color: $pink;
      }
    }
  }
}

#converage {
  background: $black url('../../images/home/oxf_bg_converage.jpg') no-repeat;
  background-position: center center;
  background-size: cover;

  .content {
    padding: 120px 0;

    h1 {
      margin-bottom: 70px;
      float: right;
    }

    h2, button {
      margin-bottom: 20px;
    }

    button {
      font: 600 24px/1 oswald, arial;
      color: $white;

      &:hover, &.active {
        color: $pink;
      }
    }

    hr {
      background-color: $white;
      height: 2px;
      width: 24px;
      margin: 0 0 20px auto;
    }
  }
}

#blog {

  .content {
    padding: 100px 0;
  }

  h1 {
    color: $black;
    margin-bottom: 85px;
  }

  .row {

    &:last-child {
      margin-top: 100px;

      button {
        margin: 0 auto;
      }
    }
  }

  .figure {
    box-shadow: 0px 4px 14px rgba(0,0,0,0.3);

    img {
      width: 100%;
    }

    .figcaption {
      padding: 35px;
      overflow: hidden;

      h3 {
        color: $black;
        margin-bottom: 30px;
      }

      p {
        color: $black;
        font: 18px/1 arial;

        &.date {
          color: $gray;
        }
      }

      a {
        color: $black;
        font: 600 18px/1 oswald, arial;
      }
    }

    &:hover {
      .figcaption {
        background-color: $gray-soft;
      }
    }
  }
}

#getintouch {
  background-color: $black;

  .content {
    padding: 100px 0;

    h2 {
      font: 600 60px/1 oswald, arial;;
      margin-bottom: 30px;
    }

    p {
      font: 400 24px/1 oswald, arial;
      margin-bottom: 50px;
    }
  }
}

#footer {
  background-color: $blue;
  .row {

    &._first {
      padding: 70px 0 0;

      .logo {

        img {
          width: 100%;
          max-width: 340px;
        }
      }

      .nav {

        li {

          a {
            font-size: 14px;
            font-weight: bold;
          }

          &:last-child {

            a {
              padding-right: 0;
            }
          }
        }
      }
    }

    &._second {
      padding: 60px 0;

      p {
        font-size: 16px;
      }

      .nav {

        a {
          margin: 0 10px;
        }
      }
    }
  }

  hr {
    width: 100%;
    background-color:  $blue-soft;
    margin: 70px 0 0;
  }
}

/* Blog page ******************************************************************/
#blog-page {
  
}

/* Modal **********************************************************************/
.modal-backdrop {
    display:none
}
.modal-backdrop.in {
    opacity: 0;
}

.modal-open {
  overflow: auto;
  padding-right: 0 !important;
}

.modal {
    position: absolute;
    @include transform(scale(0));
    @include transition(all 0.5s ease);

    &.show {
      @include transform(scale(1));
      padding: 0 !important;
    }

    .modal-dialog {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      max-height: 50%;
      max-width: 600px;

      .modal-content {
        padding-top: 0;
        background-color: rgba(33,49,65,0.8);
        border-radius: 0;
        box-shadow: 0 0 14px rgba(255,255,255,0.5);
        border: 1px solid $white;

        .modal-header {
          border: none;
          padding-bottom: 0;
        }

        .modal-body {
          padding: 0 75px 75px;

          h2 {
            margin-bottom: 50px;
          }

          p {
            margin: 0;
          }
        }
      }
    }
}


/* Responsive *****************************************************************/
@media (min-width: 992px) {
  #intro {

    .container {

      .logo {

        .brain {
          right: 60px;
          top: -160%;
          width: 28%;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #intro {

    .container {

      .logo {

        .brain {
          right: 74px;
          top: -200%;
          width: 28%;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  #intro {

    .container {
        // max-width: 1400px;

        .logo {

          .brain {
            right: 50px;
            top: -230%;
            width: auto;
          }
        }
      }
  }
}
