@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin transform-style($property) {
  -webkit-transform-style: $property;
  -ms-transform-style: $property;
  transform-style: $property;
}

@mixin transform-origin($property) {
  -webkit-transform-origin: $property;
  -ms-transform-origin: $property;
  transform-origin: $property;
}

@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
}

@mixin button($color, $colorhover, $bghover) {
  border: 2px solid $color;
  color: $color;
  padding: 10px 30px;
  background-color: transparent;
  font: 600 18px/1 oswald, arial;
  width: 180px;
  height: 52px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
  line-height: 1.6;

  background: linear-gradient(to right, $bghover 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  @include transition(all 0.2s ease-out);

  &:hover {
    color: $colorhover;
    border: 2px solid $bghover;
    background-position: left bottom;
  }
  // border: 2px solid $color;
  // color: $color;
  // padding: 15px 30px;
  // background-color: transparent;
  // font: 600 18px/1 oswald, arial;
  // width: 180px;
  // height: 52px;
  // position: relative;
  // z-index: 1;
  // display: inline-block;
  // text-align: center;
  //
  // &:hover {
  //   color: $white;
  //   border: 2px solid $blue;
  // }
  //
  // &:before {
  //   content: "";
  //   width: 0%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   background-color: $blue;
  //   transform-origin:left;
  //   @include transition(width 0.2s ease);
  //   z-index: -1;
  // }
  //
  // &:hover:before {
  //   width: 100%;
  // }
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }

    @-moz-keyframes $animation_name {
        @content;
    }

    @-o-keyframes $animation_name {
        @content;
    }

    @keyframes $animation_name {
        @content;
    }
}

@mixin animation ($name, $duration, $timing, $delay, $fillmode, $direction) {
    -webkit-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-timing-function: $timing;
    -webkit-animation-delay: $delay;
    -webkit-animation-iteration-count: $fillmode;
    -webkit-animation-direction: $direction;

    -moz-animation-name: $name;
    -moz-animation-duration: $duration;
    -moz-animation-timing-function: $timing;
    -moz-animation-delay: $delay;
    -moz-animation-iteration-count: $fillmode;
    -moz-animation-direction: $direction;

    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $timing;
    animation-delay: $delay;
    animation-iteration-count: $fillmode;
    animation-direction: $direction;
}
