nav {
  @include transition(all 0.2s ease);

  &.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: $white;
    font-size: 14px;
    z-index: 1051;

    .navbar-nav {
      margin-top: 30px;
      margin-left: auto;
    }
  }

  .navbar-brand {
    width: 20%;

    .logo {
      opacity: 0;
      width: 100%;
    }
  }

  .navbar-nav-list {
    margin-left: auto;
  }

  .navbar-toggler-icon {

    &.icon-burger {
      margin: 5px 0;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    &.icon-close {
      margin: 5px 0;
      background-image: url('../../images/icon/oxf_icon_close.svg');
    }
  }

  .navbar-toggler-logo {
    width: 80%;

    img {
      width: 80%;
      max-width: 312px;
      opacity: 1;
    }
  }

  .navbar-toggler {
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 1053;

    .icon-burger {
      display: inline-block;
    }

    .icon-close  {
      display: none;
    }

    &[aria-expanded="true"] {

      .icon-burger {
        display: none;
      }

      .icon-close {
        display: inline-block;
      }
    }
  }

  li.nav-item {

    a.nav-link {
      margin: 0 15px 15px;
      padding: 0;
      font-weight: bold;
      position: relative;

      &.dropdown-toggle {
        margin-right: 30px;
      }

      &.active {
        color: $pink;

        hr {
          transform: scaleX(1);
        }
      }

      &:hover, &:focus, &:active {
        color: $pink;

        hr {
          @include transform(scaleX(1));
          @include transform-origin(0 50%);
        }
      }

      &:after {
        position: absolute;
        right: -15px;
        top: 20%;
      }
    }

    &:last-child {
      a.nav-link {
        margin-right: 0;
      }
    }
  }

  hr {
    border-top: 3px solid $pink;
    margin: 15px 0;
    @include transform(scaleX(0));
    @include transform-origin(100% 50%);
    @include transition(transform 0.3s ease-in-out);
  }

  &.active {
    top: 0;
    // height: 140px;

    // background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    background-color: $blue;

    .logo {
      opacity: 1;
    }

    &._bg {
      background: none;
      background-color: $blue;
    }
  }

  .navbar-collapse {

    .nav.navbar-nav {

      li.nav-item {

        &:after {
          right: -15px;
          top: 20%;
        }

        &.dropdown {

          &:hover {

            .dropdown-menu {
              display: block;
              border: 1px solid $gray-soft;

              hr {
                margin: 0;
                padding: 0;
              }

              &.hover {
                hr {
                    @include transform(scaleX(1));
                    @include transform-origin(0 50%);
                }
              }
            }
          }
        }

        .dropdown-menu {
          padding-top: 0;
          background: transparent;
          border: none;
          top: 66%;
          background-color: $white;
          border-radius: 0;
          padding: 0;

          .dropdown-item {
            text-align: left;
            color: $white;
            // margin-bottom: 15px;
            // padding-bottom: 10px;
            color: $black;
            font-weight: bold;
            border-bottom: 1px solid $gray-soft;
            padding: 1rem 22px;

            &:hover {
              background-color: transparent;
              color: $pink;
              font-weight: bold;
            }
          }
        }
      }
    }


    &.show, &.collapsing {

      .nav {

        li.nav-item {

          a.nav-link {
            text-align: center;
            font-size: 18px;
            padding: 10px;

            &:after {
              right: 26%;
              top: 38%;
            }

            &.dropdown-toggle {
              // margin-bottom: 0;
              // padding-bottom: 0;
            }

            hr {
              display: none;
            }
          }

          .dropdown-menu {
            padding-top: 0;
            background: transparent;
            border: none;

            .dropdown-item {
              text-align: center;
              color: #b4bed4;
              margin-bottom: 15px;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }

  .oxford-mb {

    #navbar-practics-mb {


      &+.dropdown-menu {

        .dropdown-item {
          border: none;
          font-weight: 400;
          margin: 0;
          padding: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
