@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700");
nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  font-size: 14px; }
  nav a {
    font-weight: bold; }
    nav a.active {
      color: #f7d0cb; }

body {
  background-color: #000;
  color: #fff;
  font: 24px/20px arial; }

a {
  color: #fff; }

.container {
  max-width: 1400px; }

#intro {
  width: 100%;
  height: 100vh;
  background: url("/assets/images/home/oxf_bg_intro.jpg") no-repeat;
  background-size: cover;
  background-position: center center; }
