@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Parisienne");
nav {
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  nav.navbar {
    width: 100%;
    position: fixed;
    top: 88px;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    font-size: 14px;
    z-index: 10; }
    nav.navbar .navbar-nav {
      margin-top: 30px;
      margin-left: auto; }
  nav .navbar-brand {
    width: 20%; }
    nav .navbar-brand .logo {
      opacity: 0;
      width: 100%; }
  nav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  nav li.nav-item a.nav-link {
    margin: 0 15px 15px;
    padding: 0;
    font-weight: bold;
    position: relative; }
    nav li.nav-item a.nav-link.dropdown-toggle {
      margin-right: 30px; }
    nav li.nav-item a.nav-link.active {
      color: #f7d0cb; }
      nav li.nav-item a.nav-link.active hr {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1); }
    nav li.nav-item a.nav-link:hover, nav li.nav-item a.nav-link:focus, nav li.nav-item a.nav-link:active {
      color: #f7d0cb; }
      nav li.nav-item a.nav-link:hover hr, nav li.nav-item a.nav-link:focus hr, nav li.nav-item a.nav-link:active hr {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
        transform-origin: 0 50%; }
    nav li.nav-item a.nav-link:after {
      position: absolute;
      right: -15px;
      top: 20%; }
  nav li.nav-item:last-child a.nav-link {
    margin-right: 0; }
  nav hr {
    border-top: 3px solid #f7d0cb;
    margin: 15px 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
  nav.active {
    top: 0;
    background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
    /* IE6-9 */ }
    nav.active .logo {
      opacity: 1; }
    nav.active._bg {
      background: none;
      background-color: #1f3052; }

body {
  color: #fff;
  font: 24px/1.2 arial; }

*:focus {
  outline: none !important; }

a {
  color: #fff; }
  a:hover {
    color: #f7d0cb;
    text-decoration: none; }

h1 {
  font: 700 60px/1 oswald, arial; }

h2 {
  font: 600 40px/1.2 oswald, arial; }

h3 {
  font: 600 24px/1.2 oswald, arial; }

.button-white {
  border: 2px solid #fff;
  color: #fff;
  padding: 15px 30px;
  background-color: transparent;
  font: 600 18px/1 oswald, arial;
  min-width: 160px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center; }
  .button-white:hover {
    color: #000;
    border: 2px solid #f7d0cb; }
  .button-white:before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f7d0cb;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: width 0.2s ease;
    -ms-transition: width 0.2s ease;
    -o-transition: width 0.2s ease;
    transition: width 0.2s ease;
    z-index: -1; }
  .button-white:hover:before {
    width: 100%; }

.button-blue {
  border: 2px solid #1f3052;
  color: #1f3052;
  padding: 15px 30px;
  background-color: transparent;
  font: 600 18px/1 oswald, arial;
  min-width: 160px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center; }
  .button-blue:hover {
    color: #000;
    border: 2px solid #f7d0cb; }
  .button-blue:before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f7d0cb;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: width 0.2s ease;
    -ms-transition: width 0.2s ease;
    -o-transition: width 0.2s ease;
    transition: width 0.2s ease;
    z-index: -1; }
  .button-blue:hover:before {
    width: 100%; }

.button-none {
  background: none;
  border: none;
  padding: 0;
  margin: 0; }

/* Home page ******************************************************************/
#intro {
  width: 100%;
  height: 100vh;
  background: url("../../images/home/oxf_bg_intro.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  opacity: 1;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: absolute;
  z-index: 1; }
  #intro.fade-out {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
  #intro .container {
    position: relative;
    height: 100%; }
    #intro .container .logo {
      width: 100%;
      height: 120px;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: auto;
      text-align: center;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      opacity: 0;
      -webkit-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      #intro .container .logo.fade-in {
        opacity: 1; }
      #intro .container .logo .content {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%; }
      #intro .container .logo .brain {
        position: absolute;
        right: 110px;
        top: -230%;
        width: auto;
        pointer-events: none;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d; }
    #intro .container .scroll-down {
      width: 92px;
      height: 60px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center; }
      #intro .container .scroll-down p {
        font-size: 12px;
        margin-bottom: 15px;
        line-height: 0.8; }

#banner {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #090909;
  overflow: hidden; }
  #banner .obj {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /*img {
      width: 100%;
    }*/ }
    #banner .obj.city {
      background-image: url("../../images/home/oxf_bg_banner_city.jpg");
      -webkit-transition: all 1s ease-out 0.4s;
      -ms-transition: all 1s ease-out 0.4s;
      -o-transition: all 1s ease-out 0.4s;
      transition: all 1s ease-out 0.4s;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
      opacity: 0; }
      #banner .obj.city.fade-in {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); }
    #banner .obj.cloud {
      background-image: url("../../images/home/oxf_bg_banner_cloud.png");
      background-repeat: repeat-x;
      -webkit-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      transition: all 1s ease-out;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
      opacity: 0; }
      #banner .obj.cloud.fade-in {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-name: animateCloud;
        -webkit-animation-duration: 20s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-delay: 0.1s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        -moz-animation-name: animateCloud;
        -moz-animation-duration: 20s;
        -moz-animation-timing-function: linear;
        -moz-animation-delay: 0.1s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-direction: alternate;
        animation-name: animateCloud;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-delay: 0.1s;
        animation-iteration-count: infinite;
        animation-direction: alternate; }
  #banner .container {
    position: relative;
    height: 100%; }
    #banner .container .content {
      min-height: 880px;
      text-align: center;
      padding: 26% 0 14%;
      -webkit-transition: all 0.5s ease 0.3s;
      -ms-transition: all 0.5s ease 0.3s;
      -o-transition: all 0.5s ease 0.3s;
      transition: all 0.5s ease 0.3s;
      opacity: 0;
      -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
      transform: translateY(200%); }
      #banner .container .content.fade-in {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; }
      #banner .container .content .box {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        -webkit-transition: transform 1s;
        -ms-transition: transform 1s;
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s;
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d; }
        #banner .container .content .box .box-content {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
          #banner .container .content .box .box-content._second {
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
          #banner .container .content .box .box-content p {
            font: 500 45px/1.2 oswald, arial;
            text-transform: uppercase;
            text-shadow: 0 4px 18px black;
            color: #cfcfcf; }
            #banner .container .content .box .box-content p span {
              font: 700 90px/1.2 oswald, arial; }
        #banner .container .content .box:hover {
          -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

#whatwedo .row {
  margin: 0 0 15%; }

#whatwedo .figcaption {
  position: relative; }
  #whatwedo .figcaption .content h1 {
    color: #000;
    margin-bottom: 60px;
    -webkit-transition: all 0.8s ease-out 0.5s;
    -ms-transition: all 0.8s ease-out 0.5s;
    -o-transition: all 0.8s ease-out 0.5s;
    transition: all 0.8s ease-out 0.5s;
    opacity: 0;
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%); }
  #whatwedo .figcaption .content p {
    color: #000;
    margin-bottom: 55px;
    -webkit-transition: all 0.8s ease-out 0.7s;
    -ms-transition: all 0.8s ease-out 0.7s;
    -o-transition: all 0.8s ease-out 0.7s;
    transition: all 0.8s ease-out 0.7s;
    opacity: 0;
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%); }
  #whatwedo .figcaption .content .button-blue {
    -webkit-transition: all 0.8s ease-out 0.9s;
    -ms-transition: all 0.8s ease-out 0.9s;
    -o-transition: all 0.8s ease-out 0.9s;
    transition: all 0.8s ease-out 0.9s;
    opacity: 0;
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%); }
  #whatwedo .figcaption .content.fade-in {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
    #whatwedo .figcaption .content.fade-in h1 {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
    #whatwedo .figcaption .content.fade-in p {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
    #whatwedo .figcaption .content.fade-in .button-blue {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }

#whatwedo .figure {
  position: relative;
  z-index: -1; }
  #whatwedo .figure img {
    position: absolute;
    right: 0;
    top: 25%;
    width: 130%;
    -webkit-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    opacity: 0;
    -webkit-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%); }
    #whatwedo .figure img.fade-in {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }

#practics {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative; }
  #practics .obj {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    /*img {
      width: 100%;
    }*/ }
    #practics .obj.city {
      background-image: url("../../images/home/oxf_bg_practice.jpg");
      -webkit-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      transition: all 1s ease-out;
      -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
      transform: translateY(20%);
      opacity: 0; }
      #practics .obj.city.fade-in {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); }
    #practics .obj.cloud {
      background-image: url("../../images/home/oxf_bg_practice_cloud.png");
      -webkit-animation-name: animateCloud;
      -webkit-animation-duration: 20s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-delay: 0.1s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      -moz-animation-name: animateCloud;
      -moz-animation-duration: 20s;
      -moz-animation-timing-function: linear;
      -moz-animation-delay: 0.1s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-direction: alternate;
      animation-name: animateCloud;
      animation-duration: 20s;
      animation-timing-function: linear;
      animation-delay: 0.1s;
      animation-iteration-count: infinite;
      animation-direction: alternate; }
  #practics .container {
    position: relative;
    height: 100%;
    padding: 350px 0 40px; }
    #practics .container .content {
      width: 80%;
      margin-left: 20%; }
      #practics .container .content h1 {
        color: #000;
        margin-bottom: 60px;
        -webkit-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        transition: all 1s ease-out;
        opacity: 0;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%); }
      #practics .container .content p {
        color: #000;
        margin-bottom: 55px;
        -webkit-transition: all 1s ease-out 0.2s;
        -ms-transition: all 1s ease-out 0.2s;
        -o-transition: all 1s ease-out 0.2s;
        transition: all 1s ease-out 0.2s;
        opacity: 0;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%); }
      #practics .container .content.fade-in h1 {
        color: #000;
        margin-bottom: 60px;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; }
      #practics .container .content.fade-in p {
        color: #000;
        margin-bottom: 55px;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; }

#hospitality {
  background-color: #fff; }
  #hospitality .figcaption {
    text-align: right; }
    #hospitality .figcaption h1 {
      color: #1f3052;
      margin-bottom: 30px;
      text-transform: uppercase;
      -webkit-transition: all 0.5s ease-out 0.3s;
      -ms-transition: all 0.5s ease-out 0.3s;
      -o-transition: all 0.5s ease-out 0.3s;
      transition: all 0.5s ease-out 0.3s;
      opacity: 0;
      -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
      transform: translateY(20%); }
      #hospitality .figcaption h1.number {
        font-size: 100px;
        margin-bottom: 20px;
        color: #f7d0cb; }
    #hospitality .figcaption p {
      color: #000;
      margin-bottom: 55px;
      -webkit-transition: all 0.5s ease-out 0.6s;
      -ms-transition: all 0.5s ease-out 0.6s;
      -o-transition: all 0.5s ease-out 0.6s;
      transition: all 0.5s ease-out 0.6s;
      opacity: 0;
      -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
      transform: translateY(20%); }
    #hospitality .figcaption .button-blue {
      -webkit-transition: all 0.5s ease-out 0.9s;
      -ms-transition: all 0.5s ease-out 0.9s;
      -o-transition: all 0.5s ease-out 0.9s;
      transition: all 0.5s ease-out 0.9s;
      opacity: 0;
      -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
      transform: translateY(20%); }
    #hospitality .figcaption.fade-in h1 {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
    #hospitality .figcaption.fade-in p {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
    #hospitality .figcaption.fade-in .button-blue {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
  #hospitality .figure {
    position: relative; }
    #hospitality .figure img {
      position: absolute;
      left: 3.8%;
      top: 0;
      width: 130%;
      -webkit-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      transition: all 1s ease-out;
      opacity: 0;
      -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
      transform: translateY(20%); }
      #hospitality .figure img.fade-in {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); }
  #hospitality .carousel .carousel-inner .carousel-item {
    height: 100%;
    min-height: 500px; }
  #hospitality .carousel .carousel-indicators {
    display: block;
    margin-bottom: 85px;
    margin-left: auto;
    margin-right: 0;
    z-index: 0;
    position: static;
    -webkit-transition: all 0.5s ease-out 0.2s;
    -ms-transition: all 0.5s ease-out 0.2s;
    -o-transition: all 0.5s ease-out 0.2s;
    transition: all 0.5s ease-out 0.2s;
    opacity: 0;
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%); }
    #hospitality .carousel .carousel-indicators li {
      text-indent: 0;
      color: #000;
      width: auto;
      height: auto;
      font: 400 20px/1 oswald, arial;
      display: block;
      text-transform: uppercase;
      background-color: transparent;
      opacity: 1; }
      #hospitality .carousel .carousel-indicators li.active {
        color: #f7d0cb; }
    #hospitality .carousel .carousel-indicators.fade-in {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
  #hospitality .carousel .carousel-control-next, #hospitality .carousel .carousel-control-prev {
    display: none; }

#locations {
  background: url("../../images/home/oxf_bg_converage.jpg") no-repeat;
  background-position: center 200px;
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out; }
  #locations.fade-in {
    opacity: 1;
    background-position: center 0; }
  #locations .content {
    padding: 120px 0; }
    #locations .content h1 {
      margin-bottom: 70px;
      float: right;
      -webkit-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      opacity: 0;
      -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
      transform: translateY(20%); }
    #locations .content h2, #locations .content button {
      margin-bottom: 20px; }
    #locations .content button {
      font: 600 24px/1 oswald, arial;
      color: #fff; }
      #locations .content button:hover, #locations .content button.active {
        color: #f7d0cb; }
    #locations .content hr {
      background-color: #fff;
      height: 2px;
      width: 24px;
      margin: 0 0 20px auto; }
    #locations .content .asia, #locations .content .africa, #locations .content .europe, #locations .content .latin {
      opacity: 0;
      -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
      transform: translateY(20%); }
    #locations .content .asia {
      -webkit-transition: all 0.5s ease-out 0.2s;
      -ms-transition: all 0.5s ease-out 0.2s;
      -o-transition: all 0.5s ease-out 0.2s;
      transition: all 0.5s ease-out 0.2s; }
    #locations .content .africa {
      -webkit-transition: all 0.5s ease-out 0.4s;
      -ms-transition: all 0.5s ease-out 0.4s;
      -o-transition: all 0.5s ease-out 0.4s;
      transition: all 0.5s ease-out 0.4s; }
    #locations .content .europe {
      -webkit-transition: all 0.5s ease-out 0.6s;
      -ms-transition: all 0.5s ease-out 0.6s;
      -o-transition: all 0.5s ease-out 0.6s;
      transition: all 0.5s ease-out 0.6s; }
    #locations .content .latin {
      -webkit-transition: all 0.5s ease-out 0.8s;
      -ms-transition: all 0.5s ease-out 0.8s;
      -o-transition: all 0.5s ease-out 0.8s;
      transition: all 0.5s ease-out 0.8s; }
    #locations .content.fade-in h1 {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
    #locations .content.fade-in .asia, #locations .content.fade-in .africa, #locations .content.fade-in .europe, #locations .content.fade-in .latin {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }

#blog .content {
  padding: 100px 0; }

#blog h1 {
  color: #000;
  margin-bottom: 85px;
  opacity: 0;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

#blog .row:last-child {
  margin-top: 100px; }
  #blog .row:last-child button, #blog .row:last-child a {
    margin: 0 auto; }

#blog .figure {
  -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3); }
  #blog .figure._1, #blog .figure._2, #blog .figure._3 {
    opacity: 0;
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%); }
  #blog .figure._1 {
    -webkit-transition: all 0.8s ease-out 0.2s;
    -ms-transition: all 0.8s ease-out 0.2s;
    -o-transition: all 0.8s ease-out 0.2s;
    transition: all 0.8s ease-out 0.2s; }
  #blog .figure._2 {
    -webkit-transition: all 0.8s ease-out 0.4s;
    -ms-transition: all 0.8s ease-out 0.4s;
    -o-transition: all 0.8s ease-out 0.4s;
    transition: all 0.8s ease-out 0.4s; }
  #blog .figure._3 {
    -webkit-transition: all 0.8s ease-out 0.6s;
    -ms-transition: all 0.8s ease-out 0.6s;
    -o-transition: all 0.8s ease-out 0.6s;
    transition: all 0.8s ease-out 0.6s; }
  #blog .figure img {
    width: 100%; }
  #blog .figure .figcaption {
    padding: 35px;
    overflow: hidden; }
    #blog .figure .figcaption h3 {
      color: #000;
      margin-bottom: 30px; }
    #blog .figure .figcaption p {
      color: #000;
      font: 18px/1.2 arial; }
      #blog .figure .figcaption p.date {
        color: #999; }
    #blog .figure .figcaption a {
      color: #000;
      font: 600 18px/1 oswald, arial; }
  #blog .figure:hover .figcaption {
    background-color: #f4f4f4; }

#blog .button-blue {
  opacity: 0;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  -webkit-transition: all 0.8s ease-out 1.2s;
  -ms-transition: all 0.8s ease-out 1.2s;
  -o-transition: all 0.8s ease-out 1.2s;
  transition: all 0.8s ease-out 1.2s; }

#blog.fade-in h1 {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

#blog.fade-in .figure._1, #blog.fade-in .figure._2, #blog.fade-in .figure._3 {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

#blog.fade-in .button-blue {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

#getintouch {
  background-color: #000;
  opacity: 0;
  -webkit-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out; }
  #getintouch .content {
    padding: 100px 0; }
    #getintouch .content h2 {
      font: 600 60px/1.2 oswald, arial;
      margin-bottom: 30px;
      opacity: 0;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
      -webkit-transition: all 0.8s ease-out 0.2s;
      -ms-transition: all 0.8s ease-out 0.2s;
      -o-transition: all 0.8s ease-out 0.2s;
      transition: all 0.8s ease-out 0.2s; }
    #getintouch .content p {
      font: 400 24px/1.2 oswald, arial;
      margin-bottom: 50px;
      opacity: 0;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
      -webkit-transition: all 0.8s ease-out 0.4s;
      -ms-transition: all 0.8s ease-out 0.4s;
      -o-transition: all 0.8s ease-out 0.4s;
      transition: all 0.8s ease-out 0.4s; }
    #getintouch .content .button-white {
      opacity: 0;
      -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
      transform: translateY(20%);
      -webkit-transition: all 0.8s ease-out 0.6s;
      -ms-transition: all 0.8s ease-out 0.6s;
      -o-transition: all 0.8s ease-out 0.6s;
      transition: all 0.8s ease-out 0.6s; }
  #getintouch.fade-in {
    opacity: 1; }
    #getintouch.fade-in h2, #getintouch.fade-in p, #getintouch.fade-in .button-white {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }

#footer {
  background-color: #1f3052; }
  #footer .row._first {
    padding: 70px 0 0; }
    #footer .row._first .logo img {
      width: 100%;
      max-width: 340px; }
    #footer .row._first .nav li a {
      font-size: 14px;
      font-weight: bold; }
    #footer .row._first .nav li:last-child a {
      padding-right: 0; }
  #footer .row._second {
    padding: 60px 0; }
    #footer .row._second p {
      font-size: 16px; }
    #footer .row._second .nav a {
      margin: 0 10px; }
  #footer hr {
    width: 100%;
    background-color: #636f86;
    margin: 70px 0 0; }

/* Team page ******************************************************************/
#team-page .banner {
  width: 100%;
  height: 890px;
  background: url("../../images/team/oxf_team_banner.jpg") no-repeat;
  background-size: cover;
  background-position: center center; }
  #team-page .banner .container {
    position: relative;
    width: 100%;
    height: 100%; }
    #team-page .banner .container h1 {
      font: 700 140px/1.2 oswald, arial;
      color: rgba(255, 255, 255, 0.1);
      position: absolute;
      bottom: 110px;
      right: 0;
      margin: auto;
      opacity: 0;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
      -webkit-transition: all 0.8s ease-out;
      -ms-transition: all 0.8s ease-out;
      -o-transition: all 0.8s ease-out;
      transition: all 0.8s ease-out; }
  #team-page .banner.fade-in h1 {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

#team-page .content {
  padding: 100px 0; }
  #team-page .content.fade-in .breadcrumb, #team-page .content.fade-in h1 {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

#team-page .breadcrumb {
  opacity: 0;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out; }

#team-page h1 {
  color: #1f3052;
  margin-bottom: 85px;
  opacity: 0;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-transition: all 0.8s ease-out 0.2s;
  -ms-transition: all 0.8s ease-out 0.2s;
  -o-transition: all 0.8s ease-out 0.2s;
  transition: all 0.8s ease-out 0.2s; }

#team-page .row {
  margin-bottom: 40px; }

#team-page .figure {
  display: block; }
  #team-page .figure img {
    width: 100%; }
  #team-page .figure .figcaption {
    padding: 30px 15px;
    overflow: hidden; }
    #team-page .figure .figcaption .fullname {
      color: #1f3052;
      font: 600 22px/1.2 oswald, arial;
      margin-bottom: 10px; }
    #team-page .figure .figcaption .position {
      color: #000;
      font: 400 18px/1.2 oswald, arial;
      margin-bottom: 30px; }
      #team-page .figure .figcaption .position.date {
        color: #999;
        margin-bottom: 0; }
    #team-page .figure .figcaption a {
      color: #000;
      font: 600 18px/1 oswald, arial; }
  #team-page .figure:hover {
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); }
    #team-page .figure:hover .figcaption {
      background-color: #f4f4f4; }
  #team-page .figure.column {
    opacity: 0;
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%); }
    #team-page .figure.column.col_1 {
      -webkit-transition: all 0.8s ease-out 0.2s;
      -ms-transition: all 0.8s ease-out 0.2s;
      -o-transition: all 0.8s ease-out 0.2s;
      transition: all 0.8s ease-out 0.2s; }
    #team-page .figure.column.col_2 {
      -webkit-transition: all 0.8s ease-out 0.4s;
      -ms-transition: all 0.8s ease-out 0.4s;
      -o-transition: all 0.8s ease-out 0.4s;
      transition: all 0.8s ease-out 0.4s; }
    #team-page .figure.column.col_3 {
      -webkit-transition: all 0.8s ease-out 0.6s;
      -ms-transition: all 0.8s ease-out 0.6s;
      -o-transition: all 0.8s ease-out 0.6s;
      transition: all 0.8s ease-out 0.6s; }
    #team-page .figure.column.col_4 {
      -webkit-transition: all 0.8s ease-out 0.8s;
      -ms-transition: all 0.8s ease-out 0.8s;
      -o-transition: all 0.8s ease-out 0.8s;
      transition: all 0.8s ease-out 0.8s; }
  #team-page .figure.fade-in.column.col_1, #team-page .figure.fade-in.column.col_2, #team-page .figure.fade-in.column.col_3, #team-page .figure.fade-in.column.col_4 {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }

/* Team detail page ***********************************************************/
#teamdetail-page {
  background-color: #000; }
  #teamdetail-page .breadcrumb {
    opacity: 0;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out; }
    #teamdetail-page .breadcrumb .breadcrumb-item {
      color: #666; }
      #teamdetail-page .breadcrumb .breadcrumb-item.active {
        color: #fff; }
  #teamdetail-page .banner {
    width: 100%;
    background: url("../../images/teamdetail/oxf_bg_teamdetail1.jpg") no-repeat;
    background-size: cover;
    background-position: center bottom; }
    #teamdetail-page .banner img {
      width: 50%;
      display: inline-block;
      margin-top: 4%;
      opacity: 0;
      -webkit-transition: all 0.8s ease-out;
      -ms-transition: all 0.8s ease-out;
      -o-transition: all 0.8s ease-out;
      transition: all 0.8s ease-out; }
    #teamdetail-page .banner .wording {
      font: 40px/1.2 Parisienne, oswald, arial;
      color: #f7d0cb;
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 140px;
      text-align: center;
      width: 48%;
      opacity: 0;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
      -webkit-transition: all 0.8s ease-out 0.2s;
      -ms-transition: all 0.8s ease-out 0.2s;
      -o-transition: all 0.8s ease-out 0.2s;
      transition: all 0.8s ease-out 0.2s; }
    #teamdetail-page .banner.fade-in img, #teamdetail-page .banner.fade-in .wording {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
  #teamdetail-page .detail {
    width: 100%;
    background: url("../../images/teamdetail/oxf_bg_teamdetail2.jpg") no-repeat;
    background-size: cover;
    background-position: center top; }
    #teamdetail-page .detail.fade-in .breadcrumb, #teamdetail-page .detail.fade-in .fullname, #teamdetail-page .detail.fade-in .position {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
    #teamdetail-page .detail .fullname {
      font-size: 50px;
      margin-bottom: 20px;
      opacity: 0;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
      -webkit-transition: all 0.8s ease-out;
      -ms-transition: all 0.8s ease-out;
      -o-transition: all 0.8s ease-out;
      transition: all 0.8s ease-out; }
    #teamdetail-page .detail .position {
      font: 400 30px/1.2 oswald, arial;
      color: #cfcfcf;
      margin-bottom: 90px;
      opacity: 0;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
      -webkit-transition: all 0.8s ease-out;
      -ms-transition: all 0.8s ease-out;
      -o-transition: all 0.8s ease-out;
      transition: all 0.8s ease-out; }
    #teamdetail-page .detail p {
      line-height: 1.2;
      color: #999;
      margin-bottom: 40px; }
      #teamdetail-page .detail p.paragraph {
        opacity: 0;
        -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
        transform: translateY(50%); }
        #teamdetail-page .detail p.paragraph._1 {
          -webkit-transition: all 0.8s ease-out;
          -ms-transition: all 0.8s ease-out;
          -o-transition: all 0.8s ease-out;
          transition: all 0.8s ease-out; }
        #teamdetail-page .detail p.paragraph._2 {
          -webkit-transition: all 0.8s ease-out 0.2s;
          -ms-transition: all 0.8s ease-out 0.2s;
          -o-transition: all 0.8s ease-out 0.2s;
          transition: all 0.8s ease-out 0.2s; }
        #teamdetail-page .detail p.paragraph._3 {
          -webkit-transition: all 0.8s ease-out 0.4s;
          -ms-transition: all 0.8s ease-out 0.4s;
          -o-transition: all 0.8s ease-out 0.4s;
          transition: all 0.8s ease-out 0.4s; }
        #teamdetail-page .detail p.paragraph._4 {
          -webkit-transition: all 0.8s ease-out 0.6s;
          -ms-transition: all 0.8s ease-out 0.6s;
          -o-transition: all 0.8s ease-out 0.6s;
          transition: all 0.8s ease-out 0.6s; }
        #teamdetail-page .detail p.paragraph._5 {
          -webkit-transition: all 0.8s ease-out 0.8s;
          -ms-transition: all 0.8s ease-out 0.8s;
          -o-transition: all 0.8s ease-out 0.8s;
          transition: all 0.8s ease-out 0.8s; }
        #teamdetail-page .detail p.paragraph._6 {
          -webkit-transition: all 0.8s ease-out 1s;
          -ms-transition: all 0.8s ease-out 1s;
          -o-transition: all 0.8s ease-out 1s;
          transition: all 0.8s ease-out 1s; }
        #teamdetail-page .detail p.paragraph._7 {
          -webkit-transition: all 0.8s ease-out 1.2s;
          -ms-transition: all 0.8s ease-out 1.2s;
          -o-transition: all 0.8s ease-out 1.2s;
          transition: all 0.8s ease-out 1.2s; }
        #teamdetail-page .detail p.paragraph.fade-in {
          opacity: 1;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0); }
    #teamdetail-page .detail .row a {
      margin: 90px auto 100px; }

/* Blog page ******************************************************************/
#blogs-page {
  margin-top: 140px; }
  #blogs-page.fade-in .breadcrumb, #blogs-page.fade-in h1 {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  #blogs-page .content {
    padding: 100px 0; }
  #blogs-page h1 {
    color: #1f3052;
    margin-bottom: 85px; }
  #blogs-page .breadcrumb, #blogs-page h1 {
    opacity: 0;
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%);
    -webkit-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out; }
  #blogs-page .row {
    margin-bottom: 40px; }
    #blogs-page .row:last-child {
      margin-top: 100px; }
      #blogs-page .row:last-child button, #blogs-page .row:last-child a {
        margin: 0 auto; }
    #blogs-page .row nav {
      position: static;
      width: 100%; }
      #blogs-page .row nav .page-item .page-link {
        font: 600 20px/1.2 oswald, arial;
        border: none;
        color: #999; }
        #blogs-page .row nav .page-item .page-link.arrow {
          font: 400 30px/0.5 oswald, arial; }
      #blogs-page .row nav .page-item.active .page-link, #blogs-page .row nav .page-item:hover .page-link {
        color: #000;
        text-decoration: underline;
        background-color: transparent; }
      #blogs-page .row nav .page-item.disabled:hover .page-link {
        text-decoration: none; }
      #blogs-page .row nav .page-item.disabled .page-link {
        color: #cfcfcf; }
  #blogs-page .figure {
    -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3); }
    #blogs-page .figure img {
      width: 100%; }
    #blogs-page .figure .figcaption {
      padding: 35px;
      overflow: hidden; }
      #blogs-page .figure .figcaption h3 {
        color: #000;
        margin-bottom: 30px; }
      #blogs-page .figure .figcaption p {
        color: #000;
        font: 18px/1.2 arial;
        margin-bottom: 30px; }
        #blogs-page .figure .figcaption p.date {
          color: #999;
          margin-bottom: 0; }
      #blogs-page .figure .figcaption a {
        color: #000;
        font: 600 18px/1 oswald, arial; }
        #blogs-page .figure .figcaption a:hover {
          color: #f7d0cb; }
    #blogs-page .figure.column {
      opacity: 0;
      -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
      transform: translateY(20%); }
      #blogs-page .figure.column.col_1 {
        -webkit-transition: all 0.8s ease-out 0.2s;
        -ms-transition: all 0.8s ease-out 0.2s;
        -o-transition: all 0.8s ease-out 0.2s;
        transition: all 0.8s ease-out 0.2s; }
      #blogs-page .figure.column.col_2 {
        -webkit-transition: all 0.8s ease-out 0.4s;
        -ms-transition: all 0.8s ease-out 0.4s;
        -o-transition: all 0.8s ease-out 0.4s;
        transition: all 0.8s ease-out 0.4s; }
      #blogs-page .figure.column.col_3 {
        -webkit-transition: all 0.8s ease-out 0.6s;
        -ms-transition: all 0.8s ease-out 0.6s;
        -o-transition: all 0.8s ease-out 0.6s;
        transition: all 0.8s ease-out 0.6s; }
    #blogs-page .figure:hover .figcaption {
      background-color: #f4f4f4; }
    #blogs-page .figure.fade-in.column.col_1, #blogs-page .figure.fade-in.column.col_2, #blogs-page .figure.fade-in.column.col_3 {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }

/* Blog Detail page ***********************************************************/
#blogsdetail-page {
  margin-top: 140px; }
  #blogsdetail-page.fade-in .content .breadcrumb {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  #blogsdetail-page.fade-in .content .header h2, #blogsdetail-page.fade-in .content .header .date {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  #blogsdetail-page .content {
    padding: 100px 0; }
    #blogsdetail-page .content .breadcrumb {
      opacity: 0;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
      -webkit-transition: all 0.8s ease-out;
      -ms-transition: all 0.8s ease-out;
      -o-transition: all 0.8s ease-out;
      transition: all 0.8s ease-out; }
    #blogsdetail-page .content .header h2 {
      color: #000;
      margin: 80px 0 25px;
      opacity: 0;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
      -webkit-transition: all 0.8s ease-out;
      -ms-transition: all 0.8s ease-out;
      -o-transition: all 0.8s ease-out;
      transition: all 0.8s ease-out; }
    #blogsdetail-page .content .header .date {
      font: 22px/1.2 arial;
      color: #999;
      margin-bottom: 35px;
      opacity: 0;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%);
      -webkit-transition: all 0.8s ease-out 0.2s;
      -ms-transition: all 0.8s ease-out 0.2s;
      -o-transition: all 0.8s ease-out 0.2s;
      transition: all 0.8s ease-out 0.2s; }
    #blogsdetail-page .content .detail.fade-in .head-img {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
    #blogsdetail-page .content .detail .head-img {
      margin-bottom: 80px;
      width: 100%;
      opacity: 0;
      -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
      transform: translateY(20%);
      -webkit-transition: all 0.8s ease-out 0.4s;
      -ms-transition: all 0.8s ease-out 0.4s;
      -o-transition: all 0.8s ease-out 0.4s;
      transition: all 0.8s ease-out 0.4s; }
    #blogsdetail-page .content .detail .text-detail {
      color: #000;
      padding: 0 14%;
      margin-bottom: 135px; }
      #blogsdetail-page .content .detail .text-detail img {
        width: 100%;
        margin-bottom: 60px; }
  #blogsdetail-page .related h2 {
    color: #000;
    margin: 60px 0 65px;
    opacity: 0;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out; }
  #blogsdetail-page .related .row {
    margin-bottom: 40px; }
    #blogsdetail-page .related .row nav {
      position: static;
      width: 100%; }
      #blogsdetail-page .related .row nav .page-item .page-link {
        font: 600 20px/1.2 oswald, arial;
        border: none;
        color: #999; }
        #blogsdetail-page .related .row nav .page-item .page-link.arrow {
          font: 400 30px/0.5 oswald, arial; }
      #blogsdetail-page .related .row nav .page-item.active .page-link, #blogsdetail-page .related .row nav .page-item:hover .page-link {
        color: #000;
        text-decoration: underline;
        background-color: transparent; }
      #blogsdetail-page .related .row nav .page-item.disabled:hover .page-link {
        text-decoration: none; }
      #blogsdetail-page .related .row nav .page-item.disabled .page-link {
        color: #cfcfcf; }
  #blogsdetail-page .related .figure {
    -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.3); }
    #blogsdetail-page .related .figure img {
      width: 100%; }
    #blogsdetail-page .related .figure .figcaption {
      padding: 35px;
      overflow: hidden; }
      #blogsdetail-page .related .figure .figcaption h3 {
        color: #000;
        margin-bottom: 30px; }
      #blogsdetail-page .related .figure .figcaption p {
        color: #000;
        font: 18px/1.2 arial;
        margin-bottom: 30px; }
        #blogsdetail-page .related .figure .figcaption p.date {
          color: #999;
          margin-bottom: 0; }
      #blogsdetail-page .related .figure .figcaption a {
        color: #000;
        font: 600 18px/1 oswald, arial; }
        #blogsdetail-page .related .figure .figcaption a:hover {
          color: #f7d0cb; }
    #blogsdetail-page .related .figure:hover .figcaption {
      background-color: #f4f4f4; }
    #blogsdetail-page .related .figure.column {
      opacity: 0;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%); }
      #blogsdetail-page .related .figure.column.col_1 {
        -webkit-transition: all 0.8s ease-out;
        -ms-transition: all 0.8s ease-out;
        -o-transition: all 0.8s ease-out;
        transition: all 0.8s ease-out; }
      #blogsdetail-page .related .figure.column.col_2 {
        -webkit-transition: all 0.8s ease-out 0.2s;
        -ms-transition: all 0.8s ease-out 0.2s;
        -o-transition: all 0.8s ease-out 0.2s;
        transition: all 0.8s ease-out 0.2s; }
      #blogsdetail-page .related .figure.column.col_3 {
        -webkit-transition: all 0.8s ease-out 0.4s;
        -ms-transition: all 0.8s ease-out 0.4s;
        -o-transition: all 0.8s ease-out 0.4s;
        transition: all 0.8s ease-out 0.4s; }
  #blogsdetail-page .related.fade-in h2 {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  #blogsdetail-page .related.fade-in .figure.column.col_1, #blogsdetail-page .related.fade-in .figure.column.col_2, #blogsdetail-page .related.fade-in .figure.column.col_3 {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

/* Keyframes ******************************************************************/
@-webkit-keyframes animateCloud {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 0; } }
@keyframes animateCloud {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 0; } }

/* Breadcrumb *****************************************************************/
.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  margin-bottom: 80px; }
  .breadcrumb .breadcrumb-item {
    font: 400 24px/1.2 oswald, arial; }
    .breadcrumb .breadcrumb-item a {
      color: #999;
      font: 400 24px/1 oswald, arial; }
    .breadcrumb .breadcrumb-item.active {
      color: #1f3052; }
    .breadcrumb .breadcrumb-item:before {
      content: ">"; }
    .breadcrumb .breadcrumb-item:first-child:before {
      content: ''; }

/* Modal **********************************************************************/
.modal-backdrop {
  display: none; }

.modal-backdrop.in {
  opacity: 0; }

.modal-open {
  overflow: auto;
  padding-right: 0 !important; }

.modal {
  position: absolute;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .modal.show {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    padding: 0 !important; }
  .modal .modal-dialog {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: 50%;
    max-width: 600px; }
    .modal .modal-dialog .modal-content {
      padding-top: 0;
      background-color: rgba(33, 49, 65, 0.8);
      border-radius: 0;
      -webkit-box-shadow: 0 0 14px rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 14px rgba(255, 255, 255, 0.5);
      border: 1px solid #fff; }
      .modal .modal-dialog .modal-content .modal-header {
        border: none;
        padding-bottom: 0; }
      .modal .modal-dialog .modal-content .modal-body {
        padding: 0 75px 75px; }
        .modal .modal-dialog .modal-content .modal-body h2 {
          margin-bottom: 50px; }
        .modal .modal-dialog .modal-content .modal-body p {
          margin: 0; }

/* Responsive *****************************************************************/
@media (min-width: 768px) {
  nav.navbar .navbar-collapse .navbar-brand {
    margin-left: 15px; }
  #footer .nav-link {
    padding: .5rem .3rem; }
  #intro .container .logo .brain {
    right: 46px;
    top: -126%;
    width: 28%; }
  #banner {
    height: 100vh; }
    #banner .container .content {
      margin-top: 30%; }
      #banner .container .content .box .box-content p {
        font-size: 22px; }
        #banner .container .content .box .box-content p span {
          font-size: 60px; } }

@media (min-width: 992px) {
  nav.navbar .navbar-collapse .navbar-brand {
    margin-left: 0; }
  nav.navbar .navbar-nav li .nav-link {
    margin-left: 2px;
    margin-right: 2px; }
    nav.navbar .navbar-nav li .nav-link:after {
      right: -3px; }
    nav.navbar .navbar-nav li .nav-link.dropdown-toggle {
      margin-right: 2px; }
  #intro .container .logo .brain {
    right: 60px;
    top: -160%;
    width: 28%; }
  #banner {
    height: 100%; }
    #banner .container .content {
      margin-top: 24%; }
      #banner .container .content .box .box-content p {
        font-size: 40px; }
        #banner .container .content .box .box-content p span {
          font-size: 80px; } }

@media (min-width: 1200px) {
  nav.navbar .navbar-nav li .nav-link {
    margin-left: 3px;
    margin-right: 3px; }
    nav.navbar .navbar-nav li .nav-link:after {
      right: -3px; }
    nav.navbar .navbar-nav li .nav-link.dropdown-toggle {
      margin-right: 3px; }
  #footer .nav-link {
    padding: .5rem .8rem; }
  #intro .container .logo .brain {
    right: 74px;
    top: -200%;
    width: 28%; } }

@media (min-width: 1400px) {
  nav.navbar .navbar-nav li .nav-link {
    margin-left: 15px;
    margin-right: 15px; }
    nav.navbar .navbar-nav li .nav-link:after {
      right: -15px; }
    nav.navbar .navbar-nav li .nav-link.dropdown-toggle {
      margin-right: 15px; }
  .container {
    max-width: 1400px; }
  #intro .container .logo .brain {
    right: 110px;
    top: -220%;
    width: auto; } }
